<h2 mat-dialog-title>Edit Patient</h2>
<form (ngSubmit)="onSubmit()" #patientForm="ngForm">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="patient.firstName" name="firstName" required #firstName="ngModel">
    <mat-error *ngIf="firstName.invalid && firstName.touched">First name is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="patient.lastName" name="lastName" required #lastName="ngModel">
    <mat-error *ngIf="lastName.invalid && lastName.touched">Last name is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date of Birth</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="patient.dateOfBirth" name="dateOfBirth" required #dob="ngModel">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="dob.invalid && dob.touched">Date of birth is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select [(ngModel)]="patient.gender" name="gender" required #gender="ngModel">
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
    <mat-error *ngIf="gender.invalid && gender.touched">Gender is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="patient.address" name="address" required #address="ngModel">
    <mat-error *ngIf="address.invalid && address.touched">Address is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Suburb</mat-label>
    <input matInput [(ngModel)]="patient.suburb" name="suburb" required #suburb="ngModel">
    <mat-error *ngIf="suburb.invalid && suburb.touched">Suburb is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>State</mat-label>
    <input matInput [(ngModel)]="patient.state" name="state" required #state="ngModel">
    <mat-error *ngIf="state.invalid && state.touched">State is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Postcode</mat-label>
    <input matInput [(ngModel)]="patient.postcode" name="postcode" required #postcode="ngModel">
    <mat-error *ngIf="postcode.invalid && postcode.touched">Postcode is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone No</mat-label>
    <input matInput [(ngModel)]="patient.phoneNo" name="phoneNo" required 
           (input)="validatePhoneNumber($event)" pattern="^[0-9]{10,15}$" #phoneNo="ngModel">
    <mat-error *ngIf="phoneNo.invalid && phoneNo.touched">
      Phone number must be numeric and between 10 and 15 digits.
    </mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="!patientForm.valid">Save</button>
  </div>
</form>
